@charset "UTF-8";

:root{
    --cor0: #F2F2F2;
    --cor1: #F26DAB;
    --cor2: #F2C744;
    --cor3: #F25749;
    --cor4: #0d2f3d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    background: var(--cor0);
}

/*Parte de cima*/

header{
    background-image: linear-gradient(to bottom, #F25749, #F2C744);
    padding: 0 20px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-bottom: 50px;
}

header>img{
    width: 200px;
    height: 200px;
    margin-right: 10PX;
}

.search-box{
    width: 40%;
    background: rgb(255,255,255,0.5);
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-text{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    padding-left: 20px;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.search-text::placeholder{
    color: var(--cor0);
}

nav{
    margin-left: 30px;
}
  
header>nav>ul>li{
    width: 170px;
    font-size: 0.9em;
    list-style: none;
    margin-top: 3px;
    text-align: center;
    background-color: #ffffff60;
    border: none;
    padding: 5px 0px 5px 15px;
    margin-bottom: 15px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

header>nav>img{
    display: none;
}

header>nav>ul>li{
    text-decoration: none;
    color: white;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25); 
}

header>nav>ul>li:hover{
    background-color: #ffffff8f;
    font-size: 18px;
}

/* Conteuúdo principal */

main{
    margin: 20px auto;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 600px  150px  150px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 80px;
    justify-items: center;
    justify-content: center;
}

main>span, main section{
    background-color: var(--cor4);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

main>section{
    grid-row: 1/4;
    justify-self: stretch;
    max-height: 500px;
    position: relative;
}

main>section>iframe{
    width: 600px;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-items: center;
}

main>span{
    width: 150px;
    height: 150px;
}

main>span:hover{
    width: 160px;
    height: 160px;
}

main>span>img:hover{
    width: 160px;
    height: 160px;
    cursor: pointer;
}

/* Footer */

footer{
    background-color: var(--cor2);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

@media (max-width: 1080px){
    main{
        grid-template-columns: minmax(310px, 600px) ;
    }

    main>section>iframe{
        width: 100%;
    }

    header>nav>ul{
        display: none;
    }

    header>nav>img{
        display: inline;
        width: 30px;
        height: 30px;
    }

    header>nav>img:hover{
        cursor: pointer;
        width: 35px;
        height: 35px;
    }
    
}