@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Outfit:wght@100..900&display=swap');


:root {
    --cor-0: #FFFFFF;
    --cor-1: #D5E1EF;
    --cor-2: #68778D;
    --cor-3: #1F314F;

    --font: "Outfit", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
    background-color: var(--cor-1);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

main{
    max-width: 320px;
    margin: 0 auto;
}

.card{
    background-color: var(--cor-0);
    padding: 16px;
    border-radius: 20px;
}

.card img{
    max-width: 100%;
    border-radius: 10px;
}

.conteudo{
    padding: 22px 10px;
}

.conteudo h1{ 
    color: var(--cor-3);
    padding-bottom: 15px;
}

.conteudo p{
    color: var(--cor-2);
}